@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root,
    :root[data-theme="light"] {
        color-scheme: light;
        /* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
        --theme-bg: 0deg 0% 98%;
        --theme-link: 172deg 18% 41%;
        --theme-text: 203deg 11% 15%;
        --theme-accent: 351deg 66% 48%;
        --theme-accent-2: 0deg 0% 7%;
        --theme-quote: 351deg 66% 48%;
    }

    :root[data-theme="dark"] {
        color-scheme: dark;
        --theme-bg: 210deg 6% 12%;
        --theme-link: 330deg 49% 67%;
        --theme-text: 220deg 3% 79%;
        --theme-accent: 159deg 64% 45%;
        --theme-accent-2: 0deg 0% 93%;
        --theme-quote: 102deg 100% 86%;
    }
}

.bg-bgColor {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--theme-bg) / var(--tw-bg-opacity));
}

.italic {
    font-style: italic
}

.text-accent {
    color: hsl(var(--theme-accent)/1)
}

.text-accent-2 {
    color: hsl(var(--theme-accent-2)/1)
}

.text-bgColor {
    color: hsl(var(--theme-bg)/1)
}

.text-gray-600 {
    color: #4b5563
}

.text-quote {
    color: hsl(var(--theme-quote)/1)
}

.text-red-500 {
    color: #ef4444
}

.text-textColor {
    color: hsl(var(--theme-text)/1)
}

.prose-cactus {
    --tw-prose-body: hsl(var(--theme-text)/1);
    --tw-prose-bold: hsl(var(--theme-text)/1);
    --tw-prose-bullets: hsl(var(--theme-text)/1);
    --tw-prose-code: hsl(var(--theme-text)/1);
    --tw-prose-headings: hsl(var(--theme-accent-2)/1);
    --tw-prose-hr: .5px dashed #666;
    --tw-prose-links: hsl(var(--theme-text)/1);
    --tw-prose-quotes: hsl(var(--theme-quote)/1);
    --tw-prose-th-borders: #666
}

.cactus-link:hover {
    text-decoration-color: hsl(var(--theme-link)/1);
    text-decoration-thickness: 2px
}

.cactus-link {
    text-decoration-line: underline;
    text-underline-offset: 2px
}

.title {
    color: hsl(var(--theme-accent-2)/1);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem
}

#cactus__search[data-astro-cid-otpdt6jm] {
    --pagefind-ui-primary: hsl(var(--theme-accent)/1);
    --pagefind-ui-text: hsl(var(--theme-text)/1);
    --pagefind-ui-background: hsl(var(--theme-bg)/1);
    --pagefind-ui-border: #a1a1aa;
    --pagefind-ui-border-width: 1px
}

:root {
    --pagefind-ui-font: inherit
}

#cactus__search .pagefind-ui__search-clear {
    background-color: transparent;
    overflow: hidden;
    padding: 0;
    width: calc(60px * var(--pagefind-ui-scale))
}

#cactus__search .pagefind-ui__search-clear:focus {
    outline: 1px solid hsl(var(--theme-accent-2)/1)
}

#cactus__search .pagefind-ui__search-clear:before {
    background-color: hsl(var(--theme-accent)/1);
    content: "";
    display: block;
    height: 100%;
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-width='1.5' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M6 18 18 6M6 6l12 12'/%3E%3C/svg%3E") center /60% no-repeat;
    mask: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-width='1.5' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M6 18 18 6M6 6l12 12'/%3E%3C/svg%3E") center /60% no-repeat;
    width: 100%
}

#cactus__search .pagefind-ui__result {
    border: 0
}

#cactus__search .pagefind-ui__result-link {
    background-image: linear-gradient(transparent, transparent 5px, hsl(var(--theme-text)/1) 5px, hsl(var(--theme-text)/1));
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 100% 6px
}

#cactus__search .pagefind-ui__result-link:hover {
    background-image: linear-gradient(transparent, transparent 4px, hsl(var(--theme-link)/1) 4px, hsl(var(--theme-link)/1));
    text-decoration: none
}

#cactus__search mark {
    background-color: transparent;
    color: hsl(var(--theme-quote)/1);
    font-weight: 600
}

:root {
    --btWidthHeight: 40px;
    --btThickness: 2px;
    --btColor: hsl(var(--theme-text));
    --btHoverColor: hsl(var(--theme-accent));
    --btTransiTime: 0.05s;
}

/* BUTTONS CREATION */
.back, .next {
    position: relative;
    display: block;
    float: left;
    width: var(--btWidthHeight);
    height: var(--btWidthHeight);
}

.back::before, .next::before {
    content: " ";
    display: block;
    position: absolute;
    width: 35%;
    height: 35%;
    border: solid var(--btColor) var(--btThickness);
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg) skewX(10deg) skewY(10deg);
}

.back::before {
    border-right: none;
    border-bottom: none;
    left: 58%;
}

.next::before {
    border-top: none;
    border-left: none;
    left: 42%;
}

/* END BUTTONS CREATION */

/* EFFECT */
.back, .next {
    cursor: pointer;
    transition: all var(--btTransiTime) linear;
}

.back:hover, .next:hover {
    border-color: var(--btHoverColor);
}

.back:hover::before, .next:hover::before {
    border-width: calc(var(--btThickness) + 1px);
    border-color: var(--btHoverColor);
}

.back:active::before {
    left: 52%;
}

.next:active::before {
    left: 48%;
}
